<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<div th:replace="/fragments/header :: header"></div>
</head>
<body>
	<div th:replace="/fragments/header :: navbar"></div>
	<h1 align="center" style="color: black;">Delete Product Page</h1>
    <form action="#" th:action="@{/seller/products/delete}" th:object="${product}" method="post">
     	<input type="hidden" th:field="*{id}" />
    	<h2 style="color: black;">Name :<label th:text="*{name}"></label></h2>
    	<h2 style="color: black;">Description :<label th:text="*{description}"></label></h2>
    	<h2 style="color: black;">Quantity :<label th:text="*{quantity}" ></label></h2>
    	<h2 style="color: black;">Price :<label th:text="*{price}" ></label></h2>
        <div class="col-sm-3" style="float: none; margin: 0 auto;">
       	<input type="submit" style="background-color: gray;" class="btn btn-primary btn-block" value="Confirm Delete" />
       	</div>
    </form>
</body>
</html>