<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">
   
    <div th:switch="${action}"> 
	  <p style="font-size: xx-large;" th:case="'added'">Product Added Successfully</p>
	  <p style="font-size: xx-large;" th:case="updated">Product Updated Successfully</p>
	  <p style="font-size: xx-large;" th:case="deleted">Product Deleted Successfully</p> 
	</div>

   

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>
