<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="products">
    <div class="panel-default well" th:each="product : ${products}">
        <div class="panel-heading">
            <h1 th:text="${product.name}"></h1>
        </div>
        <h3 th:text="${product.description}" class="panel-body">Description</h3>
        <img src="abc.png"  width="250px" th:attr="src=@{'/images/' + ${product.id}}" title="Product Image" />
        <div class="row panel-footer">
            <div th:inline="text" class="col-md-2">Price: [[${product.price}]] $</div>
            <div th:inline="text" class="col-md-7">In Stock: [[${product.quantity}]]</div>
            
            <div sec:authorize="hasRole('ROLE_ADMIN')"  class="col-md-3">
                <a th:href="@{'/seller/items/update/{id}'(id=${product.id})}" >
            			<button type="button" class="btn btn-primary" th:text="Update">UPDATE</button>
            		</a>
            		
            		<a th:href="@{'/seller/items/delete/{id}'(id=${product.id})}">
					<button type="button" class="btn btn-primary" th:text="Delete">DELETE</button>
				</a>
			</div>
        </div>
        <br></br>
    </div>
</div>

</body>
</html>