<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <h1 class="jumbotron">
        What can we help you with?
    </h1>

    <h2 style="text-align:center;padding-top:20px; color: black;">
        You can contact us :
    </h2>
     <h2 style="text-align:center;padding-top:20px; color: black;">
    	 <a style="color: black;"> Mobile No: 9167979969/9527414972 </a>
    </h2>
    <h2 style="text-align:center;padding-top:20px; color: black;">
    	<a style="color: black;">  Email : asp216462@gmail.com</a>
    </h2>
	<h2 style="text-align:center;padding-top:20px; color: black;">
	
		Our Team:
			Ashwani Pandey,
			Agnes Jadhav.
	</h2>
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>
