<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="/fragments/header :: header"> </div>
</head>

<body>
<div th:replace="/fragments/header :: navbar"/>
<h1>Please upload the image</h1>
<form method="POST" th:action="@{'/uploadFile/' + ${productId}}" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>

</body>
<div th:replace="/fragments/footer :: footer"> </div>

</html>