<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container" sec:authorize="isAuthenticated()">

    Following are the list of users who bought our products:
    <div th:fragment="products">
	    <div class="panel-default well" th:each="buyer : ${buyers}">
	        <div  sec:authorize="hasRole('ROLE_ADMIN')">
	            <a th:href="@{/userproducts/} + ${buyer}" class="col-md-1"
	               sec:authorize="isAuthenticated()">
	                <button type="button" class="btn btn-primary" th:text="${buyer}">user_id</button>
	            </a>
	        </div>
	        <br></br>
	    </div>
	</div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>