<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">
 	<div class="panel-heading" sec:authorize="hasRole('ROLE_ADMIN')">
	   <p style="color: black;font-weight: bold;font-size: xx-large;"> Following are the details of sold products:</p>
	    <table class="table table-striped">
		   <thead>  
		     <tr>
			   <th style="width: 150px;">Product Name</th>
			   <th style="width: 150px;">Quantity</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="userproduct : ${userproducts}">
				 <td th:text="${userproduct.product_name}"></td>
			    <td th:text="${userproduct.quantity}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>
